<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="spiderEntities" connectionString="metadata=res://*/Spider.csdl|res://*/Spider.ssdl|res://*/Spider.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=zheng;password=123456;persistsecurityinfo=True;database=spider&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>