<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Css/globals.css" />
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/Common/Globals.js"></script>
</head>
<body>
    <div class="container logo-contaner">
        <div class="row">
            <span class="logo-span">Spider</span>
        </div>
    </div>
    <nav class="nav navbar-default" role="navigation">
        <div class="container">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/Home/Index">Home</a>
                </div>
                <!--
                <div>
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">-</a>
                        </li>
                        <li class="dropdown" id="dpmenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                -
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dpmenu">
                                <li>
                                    <a href="#">test</a>
                                </li>
                                <li>
                                    <a href="#">test1</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                    -->
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("scripts", false)
</body>
</html>
