
@{
    ViewBag.Title = "Query";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function ($scope, $http) {

        QueryData($scope, $http);

        $scope.Query = function () {
            QueryData($scope, $http);
        }

        $scope.Delete = function (obj) {
            var id = obj.x.StaId;
            $.post("/Stratage/Ajax",
                {
                    "method": "Delete",
                    "id": id
                },
                function (rep) {
                    if (Globals.CheckCommonErrorByStr(rep)) {
                        alert("Deleted!");
                        QueryData($scope, $http);
                    }
                }
            );
        }
    });


    function QueryData($scope, $http) {
        //$scope.names = [{ "Name": "z", "Country": "c" }, { "Name": "z1", "Country": "c1" }]
        $http.get("/Stratage/QueryStratage")
        .success(function (response) {
            $scope.stas = response;
            if (response == null || response.length == 0) {
                $("#noDataExp").show();
            }
        });
    }

    function queryClick() {
        app.controller('customersCtrl', function ($scope, $http) {
            QueryData($scope, $http);
        });
    }
</script>

<div ng-app="myApp" ng-controller="customersCtrl" class="row addTop">
    <div class="btn-group addTop">
        <button type="button" id="btn_Query" class="btn btn-default" ng-click="Query()">Query</button>
        <a class="btn btn-default" href="/Stratage/Edit">Add</a>
        <a class="btn btn-default" href="/Home">back</a>
    </div>

    <div>

        <table id="tb_stratage" class="table addTop">
            <thead>
                <tr>
                    <td>Check</td>
                    <td>StaName</td>
                    <td>StaRootUrl</td>
                    <td>StaDeep</td>
                    <td>Operation</td>
                </tr>
            </thead>
            <tr ng-repeat="x in stas">
                <td><input type="checkbox" class="checkbox" /></td>
                <td>{{ x.StaName }}</td>
                <td>{{ x.StaRootUrl }}</td>
                <td>{{ x.StaDeep }}</td>
                <td>
                    <a href="/Stratage/Edit/{{x.StaId}}" class="btn-link">Edit</a>
                    <a href="#" class="btn-link" id="{{x.StaId}}" ng-click="Delete(this)">Delete</a>
                </td>
            </tr>
            <tr id="noDataExp" style="text-align:center;display:none">
                <td colspan="9999">No Data Founded!</td>
            </tr>
        </table>

    </div>
</div>